@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 700;
  font-style: normal;
  src: url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/eot/");
  src: url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/eot/?#iefix") format("embedded-opentype"),
       url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/woff/") format("woff"),
       url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/svg/#web") format("svg");
}

@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 400;
  font-style: italic;
  src: url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/eot/");
  src: url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/eot/?#iefix") format("embedded-opentype"),
       url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/woff/") format("woff"),
       url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/svg/#web") format("svg");
}

@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 400;
  font-style: normal;
  src: url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/eot/");
  src: url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/eot/?#iefix") format("embedded-opentype"),
       url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/woff/") format("woff"),
       url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/svg/#web") format("svg");
}

@font-face {
  font-family: "Input Mono";
  font-weight: 700;
  font-style: normal;
  src: url("//cloud.typenetwork.com/licenseWeb/2530/fontfile/eot/");
  src: url("//cloud.typenetwork.com/licenseWeb/2530/fontfile/eot/?#iefix") format("embedded-opentype"),
       url("//cloud.typenetwork.com/licenseWeb/2530/fontfile/woff/") format("woff"),
       url("//cloud.typenetwork.com/licenseWeb/2530/fontfile/svg/#web") format("svg");
}

@font-face {
  font-family: 'Tiempos Headline';
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/TiemposHeadlineWeb-Bold.eot");
  src: url("/assets/fonts/TiemposHeadlineWeb-Bold.eot?#iefix") format("embedded-opentype"),
       url('/assets/fonts/TiemposHeadlineWeb-Bold.woff') format("woff"),
       url('/assets/fonts/TiemposHeadlineWeb-Bold.woff2') format("woff2");

}
